@base-color: #C12BE2;
@unpick-color:#999999;
@price-color:#FA5353;
@bid-color:#B629FF;
@female-color:#FE6491;
@h-height:15vw;
@button-sty:linear-gradient(-39deg, #B629FF, #CE6EE2);
.mm-width() {
	min-width: 320px;
	max-width: 768px;
}